@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
    /* tailwindcss 中已经有了指定，1rem = 16px，如果将其设置为 1rem = 10px，会导致其他指令效果变化较大，因此不建议修改这个 1rem 的值 */
    /* 1rem = 10px */
    /* font-size: 10px;  */
  }
}
